# Dictionary
    - stores a map from one kind of object (KEY) to another (VALUE)
    - KEY VALUE pairs
    - simillar to map in JAVA or objects in JS
    - The KEY must be immutable type (tuple, string, number)
    - The VALUE can be of any data type of python
    - the ordering of the KEYs depend on the hashing algorithm, thus it arbitary
    - your code should never rely on the sequence or ordering of the KEYs
    - use {} to create a dictionary

In [6]:
# mutable ---> you are allowed to update or change
a = [1,2,3]
a[0] = 11

# immutable ---> once assigned, you can not change
a = 3
a = 5

In [1]:
std = {'mahedi': 93.77, 'rabbi': 94.00, 'ahsan': 92.5}
print(std, type(std))

{'mahedi': 93.77, 'rabbi': 94.0, 'ahsan': 92.5} <class 'dict'>

In [2]:
print(std['rabbi'])

94.0

In [3]:
std['arnob'] = 7
print(std)

{'mahedi': 93.77, 'rabbi': 94.0, 'ahsan': 92.5, 'arnob': 7}

In [4]:
std['mahedi'] = 40
print(std)

{'mahedi': 40, 'rabbi': 94.0, 'ahsan': 92.5, 'arnob': 7}

In [8]:
d = {'person': 2, 'cat': 4, 'dog': 4, 'spider': 8}
for obs in d:
    print(obs)

person
cat
dog
spider

In [10]:
for obs in d:
    legs = d[obs]
    print('A %s has %d legs' % (obs, legs))

A person has 2 legs
A cat has 4 legs
A dog has 4 legs
A spider has 8 legs

In [11]:
for obs,legs in d.items():
    print('A %s has %d legs' % (obs, legs))

A person has 2 legs
A cat has 4 legs
A dog has 4 legs
A spider has 8 legs

In [12]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums_dict = {i:i for i in nums}
print(nums_dict)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [13]:
#{0:0, 1:1, 2:4, 3:9, .... 9:81}
nums_sq = {i:i**2 for i in nums}
print(nums_sq)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
nums_sq_even = {i:i**2 for i in nums if i%2 == 0}
print(nums_sq_even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [15]:
print(d.get('spider'))

8

In [16]:
del d['dog']
print(d)

{'person': 2, 'cat': 4, 'spider': 8}

# SET
    - stores a collection of distinct elements
    - unordered

In [17]:
depts = {"MBA","EEE","BBA","ARCHI"}
print(depts, type(depts))

{'BBA', 'ARCHI', 'MBA', 'EEE'} <class 'set'>

In [18]:
depts.add("CS")
print(depts)

{'BBA', 'ARCHI', 'CS', 'MBA', 'EEE'}

In [19]:
depts.remove("ARCHI")
print(depts)

{'BBA', 'CS', 'MBA', 'EEE'}

In [20]:
"CS" in depts

True

In [21]:
"ARCHI" in depts

False

# Tuple
    - ordered list of values
    - immutable
    - in many ways, it is simillar to a list; one of the most important difference is that tuples can be used as  KEYs in a dictionary or elements of a SET.
    - use () to create a tuple

In [22]:
t = (3,4)
print(t, type(t))

(3, 4) <class 'tuple'>

In [27]:
d = {(a,a+1): (a,a**2) for a in range(10)}
print(d)

{(0, 1): (0, 0), (1, 2): (1, 1), (2, 3): (2, 4), (3, 4): (3, 9), (4, 5): (4, 16), (5, 6): (5, 25), (6, 7): (6, 36), (7, 8): (7, 49), (8, 9): (8, 64), (9, 10): (9, 81)}

In [28]:
print(d[(5,6)])

(5, 25)

In [29]:
print(d[t])

(3, 9)

In [30]:
d[(0,1)] = (11, 111)
print(d)

{(0, 1): (11, 111), (1, 2): (1, 1), (2, 3): (2, 4), (3, 4): (3, 9), (4, 5): (4, 16), (5, 6): (5, 25), (6, 7): (6, 36), (7, 8): (7, 49), (8, 9): (8, 64), (9, 10): (9, 81)}